<h1>Create character</h1>

<form action="/characters/create" method="post">
<div>
    <label for="name">Name: </label>
    <input type="text" name="name" id="name">
</div>

<div>
    <label for="occupation">Occupation: </label>
    <input type="text" name="occupation" id="occupation">
</div>

<div>
    <label for="weapon">Weapon: </label>
    <input type="text" name="weapon" id="weapon">
</div>

<div>
    <label for="debt">Debt: </label>

    <label for="">True</label>
    <input type="radio" value="true" name="debt" id="debt">

    <label for="">False</label>
    <input type="radio" value="false" name="debt" id="debt">
</div>

<button type="submit">Submit!</button>
</form>